@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
	scroll-behavior: smooth;
	background: #ffffff;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.container {
	width: 1024px;
    height: 1242px;
	margin: 0 auto;
    overflow: hidden;
    background:#d9d9d9;
}


.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.main_grid {
    display: grid;
    gap: 0;
    grid-gap: 30px;
    grid-template-columns: 600px 360px;

}

.a {
    grid-column: 1;
    grid-row: 1;
    height: 738px;
    padding-top: 30px;
    padding-left: 30px;
}

.b {
    grid-column: 2;
    grid-row: 1;
    padding-top: 30px;
    padding-left: 30px;
}

.c {
    grid-column: 1 / 3 ;
    grid-row: 2;
    height: 318px;
    padding-top: 0px;
    padding-left: 30px;
}



.main_header {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000;
    background: #C1EC17;
}

.counter {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 30px;
}

.counter_tab {
    display: flex;
    width: 174px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #000;
    background: #888;
    justify-content: center;
    align-items: center;
}

.tab1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tab_black {
    color: #000;
}

.tab_white {
    color: #fff;
}

.tab_underline {
    text-decoration-line: underline;
}

.game_field {
    margin-top: 30px;
    width: 600px;
    height: 600px;
    background: #0DA838;
}

.b_border {
    height: 738px;
    border: 1px solid #000;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.game_status {
    display: flex;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    justify-self: start;
    gap: 10px;
    border: 1px solid #000;
    height: 40px;
    align-items: center;
    padding-left: 10px;
}

.status_label {
    font-style: normal;
}

.status_text {
    font-style: italic;
}

.button_area {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.button1 {
    width: 125px;
    height: 40px;
    border-radius: 20px;
    background: #0000aa;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.5s;
}

.button1disabled {
    width: 125px;
    height: 40px;
    border-radius: 20px;
    background: #aaa;
    border: 0px;
    color: #ddd;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.5s;
}

.button1:hover {
    background: #0000ff;
    transition: 0.5s;
    cursor: pointer;
}

.button1:active {
    background: #ff0000;
    transition: 0.5s;
    color: #000;
}

.game_hints {
    margin-top: 30px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    justify-self: start;
    border: 1px solid #000;
    height: 40px;
    align-items: center;
    padding-left: 10px;
    display: flex;
    gap: 20px;
    transition: 0.5s;
}

.checkbox_hints {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.chb_label {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: 0.5s;
}

.first_move {
    margin-top: 30px;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #000;
    height: 90px;
    padding-left: 10px;
    transition: 0.5s;
}

.algorithm_radio {
    height: 110px;
}

.radio_head {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.radio_item {
    margin-left: 5px;
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.radio_point, .radio_label {
    cursor: pointer;
    transition: 0.5s;
}

.c_border {
    height: 320px;
    border: 1px solid #000;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.log_area {
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    resize: none;
    overflow: auto;
    
}

.result {
    width: 300px;
    height: 200px;
    display: none; /*grid;*/
    text-align: center;
    position: absolute;
    transform: translate(150px, 200px);
    background: #0f0;
    border: 1px solid #000;
    border-radius: 20px;
    align-items: center;
}

.result_area {
    display: grid;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.result_text {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}